<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PDF文件列表</title>

    <link rel="stylesheet" type="text/css" href="css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="css/select.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="css/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">

    <script type="text/javascript" charset="UTF-8" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" charset="UTF-8" src="js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="UTF-8" src="js/dataTables.select.min.js"></script>
    <script type="text/javascript" charset="UTF-8" src="js/jquery-ui.min.js"></script>
    <script type="text/javascript" charset="UTF-8" src="js/datepicker-zh-TW.js"></script>
    <script type="text/javascript" charset="UTF-8" src="js/main.js"></script>
</head>
<body>
<div>
    <label>PDF文件列表</label>
    <div>
        <input type="text" placeholder="输入查询单号" id="search_awb">
        <select id="search_makeStatus">
            <option value="" label="制作状态"></option>
            <option value="0" label="未制作"></option>
            <option value="1" label="已制作"></option>
        </select>
        <input type="text" placeholder="制作开始时间" id="search_make_startTime">
        <span> 至 </span>
        <input type="text" placeholder="制作结束时间" id="search_make_endTime">

        <input type="text" placeholder="许可开始时间" id="search_permission_startTime">
        <span> 至 </span>
        <input type="text" placeholder="许可结束时间" id="search_permission_endTime">
        <button id="search_btn">查询</button>
    </div>
</div>
<div style="margin-top: 20px">
    <input type="file" accept=".pdf" name="file" multiple="multiple"
           id="pdf_file" onchange="pdfFileUpload();" style="display:none">
    <button onclick="pdfFileSelect();">上传PDF</button>

    <button id="ank_download_btn">Ankcustoms下载PDF</button>

    <input type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel" name="file" id="excel_file" onchange="excelFileUpload(false);" style="display: none">
    <button onclick="excelFileSelect();">上传更新数据</button>
    <button onclick="downloadTemplateFile();">下载更新数据Excel模板</button>
    <button onclick="delPdf();">删除</button>
    <button onclick="openMakeDialog();">制作更新PDF</button>

    <button onclick="exportPdfList(1)">导出原始数据</button>
    <button onclick="exportPdfList(2)">导出更新数据</button>
    <button onclick="exportPdfList(3)">导出对比数据</button>

    <button onclick="downloadPdf(1)">导出原始PDF</button>
    <button onclick="downloadPdf(2)">导出更新PDF</button>
</div>
<div style="margin-top: 20px">
    <table id="pdf_list_table" class="cell-border" style="width: 3000px" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>AWB番号</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>貨物個数</th>
                <th>貨物重量</th>
                <th>仕入書価格</th>
                <th>運賃</th>
                <th></th>
                <th>通関金額</th>
                <th>BPR合計</th>
                <th>関税</th>
                <th>消費税</th>
                <th>地方消費税</th>
                <th>納税額合計</th>
                <th>通貨レート USD</th>
                <th></th>

                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th></th>
                <th>序号</th>
                <th><input id="checkall" type="checkbox"/></th>
                <th>数据性质</th>
                <th>单号</th>
                <th>换单号</th>
                <th>制作时间</th>
                <th>许可时间</th>
                <th>制作状态</th>
                <th>件数</th>
                <th>重量</th>
                <th>总申报价值USD</th>
                <th>申报运费</th>
                <th>申报运费单位</th>
                <th>通关金额</th>
                <th>BPR合计</th>
                <th>关税</th>
                <th>消费税</th>
                <th>地方消费税</th>
                <th>税金总计</th>
                <th>美元日元汇率</th>
                <th>进口商</th>

                <th>关税合计</th>
                <th>国内消费税合计</th>
                <th>地方消费税合计</th>
            </tr>
        </thead>
    </table>
</div>

<div id="make_dialog" title="制作更新PDF">
    <div>
        <label>删除操作</label>
        <input id="delete_checkbox" type="checkbox">
    </div>
    <div>
        <label>替换操作</label>
        <input id="replace_checkbox" type="checkbox">
    </div>
</div>

<div id="ank_download_dialog" title="Ankcustoms下载PDF">
    <div>
        <input type="text" id="ank_cookie" placeholder="Cookie">
    </div>
    <div>
        <input type="text" placeholder="许可开始时间" id="download_startTime">
        <span>至</span>
        <input type="text" placeholder="许可结束时间" id="download_endTime">

        <button id="ank_download_dialog_btn" onclick="downloadAck();">下载</button>
        <span style="margin-left :10px;color: red;">Ps：重复的单号文件将不会保存</span>
    </div>
    <div>
        <label>Cookie获取方式：</label>
        <img src="images/cookie_guide.jpg" width="800px;">
    </div>
</div>

<div id="cover_confirm_dialog" title="单号重复策略确认">
    <div>
        <span>
            文件上传成功，即将进行数据导入。
        </span>
        <br/>
        <span>
            如果存在重复的单号，是覆盖还是跳过？
        </span>
    </div>
</div>

</body>

<script type="text/javascript">
    var pdfListTable;
    var makeDialog;
    var ankDownloadDialog;
    var coverConfirmDialog;
    $(document).ready(function() {
        initDate();

        pdfListTable = $('#pdf_list_table').DataTable({
            serverSide: true,
            ordering: false,
            autoWidth: false,
            searching: false,
            ajax: {
                url: 'pdf/list',
                type: 'POST',
                data: {
                    awb: $("#search_awb").val(),
                    makeStatus: $("#search_makeStatus").val(),
                    makeStartTime: $("#search_make_startTime").val(),
                    makeEndTime: $("#search_make_endTime").val(),
                    permissionStartTime: $("#search_permission_startTime").val(),
                    permissionEndTime: $("#search_permission_endTime").val()
                },
                dataFilter: function(data){
                    var json = jQuery.parseJSON(data);
                    json.recordsTotal = json.total;
                    json.recordsFiltered = json.total;
                    json.data = json.data;

                    return JSON.stringify(json); // return JSON string
                }
            },
            "columnDefs": [
                // 展开标签
                {
                    render : function (data, type, row, meta) {
                        return "";
                    },
                    className: "details-control",
                    width: "50px",
                    targets: 0
                },
                // <th>序号</th>
                {
                    render : function(data, type, row, meta) {
                        var html = meta.row + 1;
                        return html;
                    },
                    width: "50px",
                    targets : 1
                },
                // checkbox
                {
                    render : function(data, type, row, meta) {
                        return "";
                    },
                    className: 'select-checkbox',
                    width: "50px",
                    targets:   2
                },
                // <th>数据性质</th>
                {
                    render : function(data, type, row, meta) {
                        var originalVal = '原始';
                        var updatedVal = '更新';
                        var compareVal = '对比';

                        var html = originalVal + "<br/>" + updatedVal + "<br/>" + compareVal;
                        return html;
                    },
                    width: "80px",
                    className: "column-vertical-top",
                    targets : 3
                },
                // <th>单号</th>
                {
                    render : function(data, type, row, meta) {
                        return createColumnHtml(row, "awb");
                    },
                    width: "140px",
                    className: "column-vertical-top",
                    targets : 4
                },
                // <th>换单号</th>
                {
                    render : function(data, type, row, meta) {
                        return createColumnHtml(row, "awbReplace");
                    },
                    width: "140px",
                    className: "column-vertical-top",
                    targets : 5
                },
                // <th>制作时间</th>
                {
                    render : function(data, type, row, meta) {
                        return createColumnHtml(row, "makeTime");
                    },
                    width: "180px",
                    className: "column-vertical-top",
                    targets : 6
                },
                // <th>许可时间</th>
                {
                    render : function(data, type, row, meta) {
                        return createColumnHtml(row, "permissionTime");
                    },
                    width: "180px",
                    className: "column-vertical-top",
                    targets : 7
                },
                // <th>制作状态</th>
                {
                    render : function(data, type, row, meta) {
                        return createColumnHtml(row, "makeStatus", makeStatusRender);
                    },
                    width: "80px",
                    className: "column-vertical-top",
                    targets : 8
                },
                // <th>件数</th>
                {
                    render : function(data, type, row, meta) {
                        return createColumnHtml(row, "num");
                    },
                    width: "80px",
                    className: "column-vertical-top",
                    targets : 9
                },
                // <th>重量</th>
                {
                    render : function(data, type, row, meta) {
                        return createColumnHtml(row, "weight");
                    },
                    width: "80px",
                    className: "column-vertical-top",
                    targets : 10
                },
                // <th>总申报价值USD</th>
                {
                    render : function(data, type, row, meta) {
                        return createColumnHtml(row, "declareTotalAmountUsd");
                    },
                    width: "140px",
                    className: "column-vertical-top",
                    targets : 11
                },
                // <th>申报运费</th>
                {
                    render : function(data, type, row, meta) {
                        return createColumnHtml(row, "declareFreightAmountUsd");
                    },
                    width: "140px",
                    className: "column-vertical-top",
                    targets : 12
                },
                // <th>申报运费单位</th>
                {
                    render : function(data, type, row, meta) {
                        return createColumnHtml(row, "declareFreightAmountUnit");
                    },
                    width: "140px",
                    className: "column-vertical-top",
                    targets : 13
                },
                // <th>通关金额</th>
                {
                    render : function(data, type, row, meta) {
                        return createColumnHtml(row, "clearanceAmount");
                    },
                    width: "140px",
                    className: "column-vertical-top",
                    targets : 14
                },
                // <th>BPR合计</th>
                {
                    render : function(data, type, row, meta) {
                        return createColumnHtml(row, "bprAmount");
                    },
                    width: "140px",
                    className: "column-vertical-top",
                    targets : 15
                },
                // <th>关税</th>
                {
                    render : function(data, type, row, meta) {
                        return createColumnHtml(row, "tariff");
                    },
                    width: "140px",
                    className: "column-vertical-top",
                    targets : 16
                },
                // <th>消费税</th>
                {
                    render : function(data, type, row, meta) {
                        return createColumnHtml(row, "exciseTax");
                    },
                    width: "140px",
                    className: "column-vertical-top",
                    targets : 17
                },
                // <th>地方消费税</th>
                {
                    render : function(data, type, row, meta) {
                        return createColumnHtml(row, "localExciseTax");
                    },
                    width: "140px",
                    className: "column-vertical-top",
                    targets : 18
                },
                // <th>税金总计</th>
                {
                    render : function(data, type, row, meta) {
                        return createColumnHtml(row, "taxTotalAmount");
                    },
                    width: "140px",
                    className: "column-vertical-top",
                    targets : 19
                },
                // <th>美元日元汇率</th>
                {
                    render : function(data, type, row, meta) {
                        return createColumnHtml(row, "usdJpyExchangeRate");
                    },
                    width: "140px",
                    className: "column-vertical-top",
                    targets : 20
                },
                // <th>进口商</th>
                {
                    render : function(data, type, row, meta) {
                        return createColumnHtml(row, "importer");
                    },
                    width: "300px",
                    className: "column-vertical-top",
                    targets : 21
                },

                // <th>关税合计</th>
                {
                    render : function(data, type, row, meta) {
                        return createColumnHtml(row, "tariffTotalAmount");
                    },
                    width: "140px",
                    className: "column-vertical-top",
                    targets : 22
                },
                // <th>国内消费税合计</th>
                {
                    render : function(data, type, row, meta) {
                        return createColumnHtml(row, "countryExciseTaxTotalAmount");
                    },
                    width: "140px",
                    className: "column-vertical-top",
                    targets : 23
                },
                // <th>地方消费税合计</th>
                {
                    render : function(data, type, row, meta) {
                        return createColumnHtml(row, "localExciseTaxTotalAmount");
                    },
                    width: "140px",
                    className: "column-vertical-top",
                    targets : 24
                }
            ],
            language : {
                "processing" : "处理中...",
                "lengthMenu" : "显示 _MENU_ 项结果",
                "zeroRecords" : "没有匹配结果",
                "info" : "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                "infoEmpty" : "显示第 0 至 0 项结果，共 0 项",
                "infoFiltered" : "(由 _MAX_ 项结果过滤)",
                "infoPostFix" : "",
                "search" : "搜索:",
                "url" : "",
                "emptyTable" : "没有数据",
                "loadingRecords" : "载入中...",
                "infoThousands" : "20",
                "paginate" : {
                    "first" : "首页",
                    "previous" : "上页",
                    "next" : "下页",
                    "last" : "末页"
                }
            },
            select: {
                style:    'os',
                selector: '.select-checkbox',
                style: 'multi'
            }
        });

        $("#checkall").on("click", function () {
            if (this.checked) {
                pdfListTable.rows().select();
            } else {
                pdfListTable.rows().deselect();
            }
        });

        pdfListTable.on('deselect', function ( e, dt, type, indexes ) {
            $("#checkall").prop("checked", false);
        });

        $("#search_btn").on("click", function() {
            reloadTable();
        });

        initMakeDialog();
        initAnkDownloadDialog();
        initCoverConfirmDialog();

        $("#ank_download_btn").click(function () {
            if (ankDownloadDialog != null) {
                ankDownloadDialog.dialog("open");
            }
        });

        $('#pdf_list_table tbody').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = pdfListTable.row( tr );
            if (row.child.isShown()) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            } else {
                // Open this row
                row.child(getPdfDetailHtml(row.data())).show();
                tr.addClass('shown');
            }
        });
    });

    function getPdfDetailHtml(rowData) {
        var html = "";
        html += "<table cellpadding='5' cellspacing='0' border='0' style='border: 1px solid black; margin: 10px;'>";
        html += "<thead>";
        html += "<tr>" +
                "<th></th>" +
                "<th></th>" +
                "<th>BPR按分係数</th>" +
                "<th>関税率</th>" +
                "<th></th>" +
                "<th>申告価格(CIF)</th>" +
                "<th></th>" +
                "<th>関税額</th>" +
                "<th></th>" +
                "<th>(1)消費税課税標準額</th>" +
                "<th></th>" +
                "<th>税額</th>" +
                "<th>(2)地方消費税課税標準額</th>" +
                "<th>税額</th>" +
                "</tr>";
        html += "<tr>";
        html += "<th>品名</th>";
        html += "<th>数据类型</th>";
        html += "<th>美金申报价值</th>";
        html += "<th>关税率</th>";
        html += "<th>运费比重</th>";
        html += "<th>日元申报价值</th>";
        html += "<th>关税计算基数</th>";
        html += "<th>关税额</th>";
        html += "<th>关税取整</th>";
        html += "<th>国内消费税</th>";
        html += "<th>国内消费税额基数</th>";
        html += "<th>国内消费税金额</th>";
        html += "<th>地方消费税基数</th>";
        html += "<th>地方消费税金额</th>";
        html += "</tr>";
        html += "</thead>";

        html += "<tbody>";
        if (rowData != null && rowData.detailList != null) {
            $.each(rowData.detailList, function(i, item) {
                html += "<tr>";
                html += "<td rowspan='2'>" + formatProdNo(item.prodNo) + "</td>";
                html += "<td>原始</td>";
                if (item.originalPdfDetail != null) {
                    html += "<td>" + formatText(item.originalPdfDetail.declareAmountUsd) + "</td>";
                    html += "<td>" + formatText(formatPercentText(item.originalPdfDetail.tariffRate)) + "</td>";
                    html += "<td>" + formatText(formatPercentText(item.originalPdfDetail.freightPct)) + "</td>";
                    html += "<td>" + formatText(item.originalPdfDetail.declareAmountJpy) + "</td>";
                    html += "<td>" + formatText(item.originalPdfDetail.tariffBase) + "</td>";
                    html += "<td>" + formatText(item.originalPdfDetail.tariff) + "</td>";
                    html += "<td>" + formatText(item.originalPdfDetail.tariffRounding) + "</td>";
                    html += "<td>" + formatText(item.originalPdfDetail.countryExciseTax) + "</td>";
                    html += "<td>" + formatText(item.originalPdfDetail.countryExciseTaxBase) + "</td>";
                    html += "<td>" + formatText(item.originalPdfDetail.countryExciseTaxAmount) + "</td>";
                    html += "<td>" + formatText(item.originalPdfDetail.localExciseTaxBase) + "</td>";
                    html += "<td>" + formatText(item.originalPdfDetail.localExciseTaxAmount) + "</td>";
                } else {
                    html += "<td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>";
                }
                html += "</tr>"

                html += "<tr>";
                html += "<td>更新</td>";
                if (item.updatedPdfDetail != null) {
                    html += "<td>" + formatText(item.updatedPdfDetail.declareAmountUsd) + "</td>";
                    html += "<td>" + formatText(formatPercentText(item.updatedPdfDetail.tariffRate)) + "</td>";
                    html += "<td>" + formatText(formatPercentText(item.updatedPdfDetail.freightPct)) + "</td>";
                    html += "<td>" + formatText(item.updatedPdfDetail.declareAmountJpy) + "</td>";
                    html += "<td>" + formatText(item.updatedPdfDetail.tariffBase) + "</td>";
                    html += "<td>" + formatText(item.updatedPdfDetail.tariff) + "</td>";
                    html += "<td>" + formatText(item.updatedPdfDetail.tariffRounding) + "</td>";
                    html += "<td>" + formatText(item.updatedPdfDetail.countryExciseTax) + "</td>";
                    html += "<td>" + formatText(item.updatedPdfDetail.countryExciseTaxBase) + "</td>";
                    html += "<td>" + formatText(item.updatedPdfDetail.countryExciseTaxAmount) + "</td>";
                    html += "<td>" + formatText(item.updatedPdfDetail.localExciseTaxBase) + "</td>";
                    html += "<td>" + formatText(item.updatedPdfDetail.localExciseTaxAmount) + "</td>";
                } else {
                    html += "<td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>";
                }
                html += "</tr>"
            });
        }
        html += "</tbody>";
        html += "</table>";

        return html;
    }

    function initDate() {
        $.datepicker.setDefaults($.datepicker.regional['zh-CN']);

        $("#search_make_startTime").datepicker({
            changeMonth: true,
            numberOfMonths: 1,
            dateFormat: "yy-mm-dd",
            onClose: function(selectedDate) {
                $( "#search_make_endTime" ).datepicker( "option", "minDate", selectedDate);//限制日期范围
            }
        });
        $("#search_make_endTime").datepicker({
            changeMonth: true,
            numberOfMonths: 1,
            dateFormat: "yy-mm-dd",
            onClose: function(selectedDate) {
                $( "#search_make_startTime" ).datepicker( "option", "maxDate", selectedDate);//限制日期范围
            }
        });

        $("#search_permission_startTime").datepicker({
            changeMonth: true,
            numberOfMonths: 1,
            dateFormat: "yy-mm-dd",
            onClose: function(selectedDate) {
                $( "#search_permission_endTime" ).datepicker( "option", "minDate", selectedDate);//限制日期范围
            }
        });
        $("#search_permission_endTime").datepicker({
            changeMonth: true,
            numberOfMonths: 1,
            dateFormat: "yy-mm-dd",
            onClose: function(selectedDate) {
                $( "#search_permission_startTime" ).datepicker( "option", "maxDate", selectedDate);//限制日期范围
            }
        });
    }

    function createColumnHtml(row, key) {
        return createColumnHtml(row, key, null);
    }
    
    function createColumnHtml(row, key, render) {
        var originalVal = '';
        var updatedVal = '';
        var compareVal = '';
        if (row != null) {
            if (row.originalPdf != null && row.originalPdf[key] != null) {
                originalVal = row.originalPdf[key];
            }
            if (row.updatedPdf != null && row.updatedPdf[key] != null) {
                updatedVal = row.updatedPdf[key];
            }
            if (row.comparePdf != null && row.comparePdf[key] != null) {
                compareVal = row.comparePdf[key];
            }
        }
        if (render != null && typeof render == 'function') {
            originalVal = render(originalVal, "original");
            updatedVal = render(updatedVal, "updated");
            compareVal = render(compareVal, "compare");
        }
        
        var html = originalVal + "<br/>" + updatedVal + "<br/>" + compareVal;
        return html;
    }

    function makeStatusRender(val, rowType) {
        if (val != null && rowType == "updated") {
            if (val == 0) {
                return "未制作";
            } else if (val == 1) {
                return "已制作";
            }
        }
        return "";
    }

    function downloadTemplateFile() {
        window.location.href = "download/templates";
    }

    function pdfFileUpload() {
        var formData = new FormData();

        var pdfFiles = $('#pdf_file')[0].files;
        for (var i = 0; i < pdfFiles.length; i ++) {
            formData.append('file', pdfFiles[i]);
        }

        $.ajax({
            url : 'pdf/upload',
            type : 'POST',
            data : formData,
            contentType: false,// 当有文件要上传时，此项是必须的，否则后台无法识别文件流的起始位置
            processData: false,// 是否序列化data属性，默认true(注意：false时type必须是post)
            dataType: 'json',//这里是返回类型，一般是json,text等
            clearForm: true,//提交后是否清空表单数据
            success: function(result) {   //提交成功后自动执行的处理函数，参数data就是服务器返回的数据。
                if (result != null && result.code == 0) {
                    openCoverConfirmDialog(result.data);
                } else {
                    alert('上传失败[' + (result != null ? result.message:'') + ']')
                }
            },
            error: function(data, status, e) {  //提交失败自动执行的处理函数。
                console.log(e);
                alert('上传异常')
            }
        });
    }

    function pdfFileSelect() {
        $('#pdf_file').val('');
        $("#pdf_file").trigger("click");
    }

    function excelFileUpload(coverFlg) {
        var formData = new FormData();
        formData.append('file', $('#excel_file')[0].files[0]);
        formData.append('coverFlg', coverFlg);
        $.ajax({
            url : 'excel/upload',
            type : 'POST',
            data : formData,
            contentType: false,// 当有文件要上传时，此项是必须的，否则后台无法识别文件流的起始位置
            processData: false,// 是否序列化data属性，默认true(注意：false时type必须是post)
            dataType: 'json',//这里是返回类型，一般是json,text等
            clearForm: true,//提交后是否清空表单数据
            success: function(result) {   //提交成功后自动执行的处理函数，参数data就是服务器返回的数据。
                if (result != null) {
                    if (result.code == 0) {
                        reloadTable();
                        alert('上传成功');
                    } else if (result.code == 400003) {
                        var confirmResult = confirm("上传数据中含有已存在的单号，是否覆盖？");
                        if (confirmResult == true) {
                            excelFileUpload(true);
                        }
                    } else {
                        alert('上传失败[' + result.message + ']')
                    }
                } else {
                    alert('上传失败')
                }
            },
            error: function(data, status, e) {  //提交失败自动执行的处理函数。
                console.log(e);
                alert('上传异常')
            }
        });
    }

    function excelFileSelect() {
        $('#excel_file').val('');
        $("#excel_file").trigger("click");
    }

    function addPdf(pdfFileIdList, coverFlg) {
        $.ajax({
            url : "pdf/list" ,
            type : "put",
            data : {
                "pdfFileIdList": pdfFileIdList,
                "coverFlg": coverFlg
            },
            dataType: 'json',
            success : function(result) {
                if (result != null) {
                    if (result.code == 0) {
                        reloadTable();
                        alert("数据生成成功");
                    } else if (result.code == 1) {
                        reloadTable();
                        alert("部分数据生成成功，以下数据被跳过：" + result.data);
                    } else {
                        alert("生成数据失败[" + result.message + "]");
                    }
                } else {
                    alert("生成数据失败");
                }
            },
            error: function (data, status, e) {
                console.log(e);
                alert("生成数据失败");
            }
        });
    }

    function delPdf() {
        var confirmResult = confirm("是否删除所选择的数据？");
        if (confirmResult == false) {
            return;
        }

        var selected = pdfListTable.rows({selected: true}).data().toArray();
        if (selected == null || selected.length == 0) {
            alert("请选择数据");
            return;
        }

        var awbList = [];
        for (var i = 0; i < selected.length; i ++) {
            awbList.push(selected[i].originalPdf.awb);
        }

        $.ajax({
            url : "pdf/list",
            type : "delete",
            data : {
                "awbList": awbList
            },
            dataType: 'json',
            success : function(result) {
                if (result != null) {
                    if (result.code == 0) {
                        reloadTable();
                    } else {
                        alert("删除失败[" + result.message + "]");
                    }
                } else {
                    alert("删除失败");
                }
            },
            error: function (data, status, e) {
                console.log(e);
                alert("删除失败");
            }
        });
    }

    function initMakeDialog() {
        makeDialog = $( "#make_dialog" ).dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            buttons: {
                Ok: function() {
                    makePdf();
                    $( this ).dialog( "close" );
                },
                Cancel: function() {
                    $( this ).dialog( "close" );
                }
            }
        });
    }

    function initAnkDownloadDialog() {
        $("#download_startTime").datepicker({
            changeMonth: true,
            numberOfMonths: 1,
            dateFormat: "yy-mm-dd",
            onClose: function(selectedDate) {
                $( "#download_endTime" ).datepicker( "option", "minDate", selectedDate);//限制日期范围
            }
        });
        $("#download_endTime").datepicker({
            changeMonth: true,
            numberOfMonths: 1,
            dateFormat: "yy-mm-dd",
            onClose: function(selectedDate) {
                $( "#download_startTime" ).datepicker( "option", "maxDate", selectedDate);//限制日期范围
            }
        });

        initAnkDownloadBtn(true);

        ankDownloadDialog = $( "#ank_download_dialog" ).dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            height: 600,
            width: 900
        });
    }

    function initCoverConfirmDialog() {
        coverConfirmDialog = $("#cover_confirm_dialog").dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            buttons: {
                "覆盖": function() {
                    addPdf($(this).data("pdfFileIdList"), true);
                    $( this ).dialog( "close" );
                },
                "跳过": function() {
                    addPdf($(this).data("pdfFileIdList"), false);
                    $( this ).dialog( "close" );
                }
            }
        })
    }

    function openCoverConfirmDialog(pdfFileIdList) {
        if (coverConfirmDialog != null) {
            coverConfirmDialog.data("pdfFileIdList", pdfFileIdList).dialog("open");
        }
    }

    function openMakeDialog() {
        var confirmResult = confirm("确定制作？");
        if (confirmResult == false) {
            return;
        }

        var selected = pdfListTable.rows({selected: true}).data().toArray();
        if (selected == null || selected.length == 0) {
            alert("请选择数据");
            return;
        }

        if (makeDialog != null) {
            makeDialog.dialog("open");
        }
    }

    function makePdf() {
        var selected = pdfListTable.rows({selected: true}).data().toArray();

        var awbList = [];
        for (var i = 0; i < selected.length; i ++) {
            awbList.push(selected[i].originalPdf.awb);
        }

        var deleteFlg = $("#delete_checkbox").is(':checked')?true:false;
        var replaceFlg = $("#replace_checkbox").is(':checked')?true:false;
        $.ajax({
            url : "pdf/list/make",
            type : "post",
            data : {
                "awbList": awbList,
                "deleteFlg": deleteFlg,
                "replaceFlg": replaceFlg
            },
            dataType: 'json',
            success : function(result) {
                if (result != null) {
                    if (result.code == 0) {
                        reloadTable();
                        alert("制作成功");
                    } else {
                        alert("制作失败[" + result.message + "]");
                    }
                } else {
                    alert("制作失败");
                }
            },
            error: function (data, status, e) {
                console.log(e);
                alert("制作失败");
            }
        });
    }

    function reloadTable() {
        if (pdfListTable != null) {
            var param = {
                awb: $("#search_awb").val(),
                makeStatus: $("#search_makeStatus").val(),
                makeStartTime: $("#search_make_startTime").val(),
                makeEndTime: $("#search_make_endTime").val(),
                permissionStartTime: $("#search_permission_startTime").val(),
                permissionEndTime: $("#search_permission_endTime").val()
            };
            pdfListTable.settings()[0].ajax.data = param;
            pdfListTable.ajax.reload();
        }
        $("#checkall").prop("checked", false);
    }

    function downloadPdf(type) {
        var selected = pdfListTable.rows({selected: true}).data().toArray();
        if (selected == null || selected.length == 0) {
            alert("请选择数据");
            return;
        }

        var awbList = [];
        for (var i = 0; i < selected.length; i ++) {
            awbList.push(selected[i].originalPdf.awb);
        }

        DownLoadFile({
            url: 'download/pdf',
            data: {
                awbList: awbList,
                type: type}
        });
    }

    function downloadAck() {
        var cookie = $("#ank_cookie").val();
        var startTime = $("#download_startTime").val();
        var endTime = $("#download_endTime").val();

        if (cookie == null || cookie == "") {
            alert("请输入Cookie");
            return;
        }
        if (startTime == null || startTime == "") {
            alert("请选择许可开始时间");
            return;
        }
        if (endTime == null || endTime == "") {
            alert("请选择许可结束时间");
            return;
        }

        $.ajax({
            url : "ackcustoms/download",
            type : "post",
            data : {
                "cookie": cookie,
                "startTime": startTime,
                "endTime": endTime
            },
            dataType: 'json',
            beforeSend: function() {
                initAnkDownloadBtn(false);
            },
            success : function(result) {
                if (result != null) {
                    if (result.code == 0) {
                        reloadTable();
                        if (ankDownloadDialog != null) {
                            ankDownloadDialog.dialog( "close" );
                        }
                        var subMsg = "";
                        if (result.data != null) {
                            subMsg = "时间区间内共检索到[" + result.data.totalCount + "]个PDF，成功[" + result.data.successCount + "]个，失败[" + result.data.failCount + "]个，跳过[" + result.data.passCount + "]个"
                        }
                        alert("下载成功！" + subMsg);
                    } else {
                        alert("下载失败[" + result.message + "]");
                    }
                } else {
                    alert("下载失败");
                }
            },
            error: function (data, status, e) {
                console.log(e);
                alert("下载失败");
            },
            complete: function () {
                initAnkDownloadBtn(true);
            }
        });
    }

    function initAnkDownloadBtn(enable) {
        if (enable) {
            $("#ank_download_dialog_btn").text("下载");
            $("#ank_download_dialog_btn").removeAttr("disabled");
        } else {
            $("#ank_download_dialog_btn").text("请等待...");
            $("#ank_download_dialog_btn").attr("disabled", "true");
        }
    }

    function exportPdfList(type) {
        var awb = $("#search_awb").val();
        var makeStatus = $("#search_makeStatus").val();
        var makeStartTime = $("#search_make_startTime").val();
        var makeEndTime = $("#search_make_endTime").val();
        var permissionStartTime = $("#search_permission_startTime").val();
        var permissionEndTime = $("#search_permission_endTime").val();

        window.location.href = "pdf/list/export?type=" + type + "&awb=" + awb + "&makeStatus=" + makeStatus + "&makeStartTime=" + makeStartTime + "&makeEndTime=" + makeEndTime + "&permissionStartTime=" + permissionStartTime + "&permissionEndTime=" + permissionEndTime;
    }
</script>
</html>